body {
    background: url("../image/cloud-background.jpg") center;
}
#airplane {
    position: absolute;
    width: 300px;
    height: 300px;
    bottom: 200px;
    right: 200px;
}
#balloon {
    position: absolute;
    fill:#74DED1;
    width: 300px;
    height: 300px;
    bottom: 50px;
    left: 10px;
}
#balloon2 {
    position: absolute;
    fill:#A07D15;
    width: 300px;
    height: 300px;
    bottom: 50px;
    right: 10px;
}

