body {
    background-image: url("../image/bts-springday.png");
}

.snowflake{
    display:inline-block;
    position: relative;
    width: 200px;
    height: 200px;
    top:10px;
    animation: fall 5s infinite;
}

@keyframes fall{
    from {top:10px;}
       to {top: 2000px;}
}

.flower{
    display:inline-block;
    position: relative;
    width: 200px;
    height: 200px;
    top:250px;
    animation: grow 1s infinite;
}

@keyframes grow{
    from {top:250px;}
       to {top: 0px;}
}