body {
    background-image: url("../image/serendipity2.jpg");
    background-position: center;
}
#logo{
    display: inline-block;
    width:500px;
    height: 500px;

}
#magic-shop{
    position: relative;
    display: inline-block;
    width:200px;
    height: 200px;
    bottom: -200px;
    left: 10px;
}
#yellow-balloon{
    position: relative;
    display: inline-block;
    width:300px;
    height: 300px;
    left: -80px;
}
#moon{
    position: relative;
    display: inline-block;
    width:300px;
    height: 300px;
    left: -80px;
}

